urllib3<2.0
requests>=2.28.0  # 考虑allure报告，urllib3 v2 版本要求 OpenSSL 1.1.1+，但你的容器环境（很可能是 CentOS 7 或类似）的 OpenSSL 版本为 1.0.2k，导致导入失败
jsonpath
pyyaml
pytest  # 本身单元框架
pytest-html  # 生成html测试报告
pytest-xdist  # 多cPu分发
pytest-ordering  # 标记被执行函数的顺序
pytest-rerunfailures  # 失败用例重复执行
pytest-base-url  # 管理base-url基础路径的插件
allure-pytest  # 生成美观的测试报告